<hr>

<div class="col-md-4">
    <h2>About GrassRoot</h2><br>
    <ul>
        <li>GrassRoot is a community-driven political event organizer that promotes civic engagement by helping you plan and locate events in your area.</li>
        <li>To find political events in your area, simply select your state from the drop-down menu on the right, then click "Search".
        To view more information about an event, click on the event's title.</li>
        <li>Join the Network: Register for free as a GrassRoot Member, and promote your own events on the GrassRoot Network!</li>
    </ul>
    <a href="/register"><button class="btn btn-success" id="registerNow">Register Now!</button></a>
</div>

<div class="col-md-8">
    <h2>Search for Events</h2>

    <div class="selectorDiv">
        <select name="state" ng-model="selectState">
            <option ng-repeat="state in states" value="{{state}}">{{state}}</option>
        </select>
        <button class="btn btn-success" ng-click="getEvents()">Search</button>
    </div>

    <div class="tableMain">
        <div class="tableColumn">
            <div class="tableHeading">Event Title</div>
            <div class="tableRow" ng-repeat="event in events">
                <a href="/event" ng-click="chooseEvent(event)">{{event.title}}</a>
            </div>
        </div>

        <div class="tableColumn">
            <div class="tableHeading">Host</div>
            <div class="tableRow" ng-repeat="event in events">{{event.host}}</div>

        </div>

        <div class="tableColumn">
            <div class="tableHeading">Date</div>
            <div class="tableRow" ng-repeat="event in events">{{event.date}}</div>
        </div>

        <div class="tableColumn">
            <div class="tableLocation">Location</div>
            <div class="locationRow" ng-repeat="event in events">{{event.street_address}}<br>{{event.city}}, {{event.state}} {{event.zip}}</div>
        </div>

        <!--<div class="tableColumn">-->
        <!--<div class="tableHeading">Description</div>-->
        <!--<div class="tableRow" ng-repeat="event in events">{{event.description}}</div>-->
        <!--</div>-->
    </div>
</div>
<!--<a href="/event"><button class="viewEvent">Go to Event Page</button></a>-->

<p class="copyright">Copyright © 2016 -- Jeremy Cloutier</p>