<hr>

<div class="col-md-6">
    <h2>About GrassRoot</h2><br>
    <ul>
        <li>GrassRoot is a community-driven political event organizer that promotes civic engagement by helping you plan and locate events in your area.</li>
        <li>To find political events in your area, simply select your state from the drop-down menu on the right, then click "Search"!</li>
        <li>Join the Network: Register for free as a GrassRoot Member, and promote your own events on the GrassRoot Network!</li>
    </ul>
    <a href="/register"><button class="btn btn-success" id="registerNow">Register Now!</button></a>
</div>

<div class="col-md-6">
    <h2>Search for Events</h2>

    <div class="selectorDiv">
        <select name="states">
            <option>Select a State</option>
            <option value="AL">AL</option>
            <option value="AK">AK</option>
            <option value="AZ">AZ</option>
        </select>
        <button class="btn btn-success">Search</button>
    </div>


    <table id="t01">
        <tr>
            <th>Event Title</th>
            <th>Host</th>
            <th>Date</th>
            <th>Location</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>Solo Project Presentations</td>
            <td>Prime Digital Academy</td>
            <td>2/12/16</td>
            <td>Prime Digital Academy</td>
            <td>Theta Cohort will be presenting their solo projects.</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>

<p class="copyright">Copyright © 2016 -- Jeremy Cloutier</p>