<!--This is the Registration Page, which appears as a view on index.html-->
<h3 class="registerPage">Registration</h3>
<hr>

<div class="col-md-6">
    <h2>About Registration</h2><br>
    <ul>
        <li>GrassRoot is founded on the idea of helping people get involved in their community; for this reason, registration with GrassRoot is fast, simple, and free.</li>
        <li>Once you submit your information in the form, you will be fully registered as a Member of the GrassRoot Network.  Members gain access to a home page from which they may search for events as well as submit events of their own.</li>
        <li>Because we value our users' privacy, GrassRoot keeps user data strictly confidential.</li>
    </ul>
    <img src="../assets/styles/logo_transparent.png" alt="grassrootlogo" class="logoLarge">
</div>

<div class="col-md-6">
    <h2>New Member Information</h2>
    <form class="registrationForm" action="/register" method="post">
        First Name:
        <input type="text" name="firstname"><br><br>
        Last Name:
        <input type="text" name="lastname"><br><br>
        Email:
        <input type="text" name="email"><br><br>
        Password:
        <input type="password" name="password"><br><br>
        Membership Type:
        <select>
            <option value="Citizen">Citizen</option>
            <option value="Organization">Organization</option>
            <option value="Party">Party</option>
        </select><br><br>
        <input type="submit" class="btn btn-success">
    </form>
</div>

<p class="copyright">Copyright © 2016 -- Jeremy Cloutier</p>