<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GrassRoot Event Submission</title>
    <link href="vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/styles/styles.css">
    <script src="vendor/angular/angular.min.js"></script>
    <script src="vendor/angular-route/angular-route.min.js"></script>
    <script src="assets/scripts/client.min.js"></script>
    <base href="/">
</head>
<body>
<img src="../assets/styles/grassrootlogo.jpg" alt="grassrootlogo" class="logo">

<h1>Welcome to GrassRoot</h1><br>

<hr>

<div class="col-md-12">
    <h2>Registration Successful</h2>
    <h3>Congratulations, you have successfully registered as a member of GrassRoot!</h3>
    <h3>Once logged in, you will be able to submit new events to the Grassroot network.</h3>
    <a href="/"><button class="btn btn-success" id="returnHome">Return Home</button></a>
</div>

<p class="copyright">Copyright © 2016 -- Jeremy Cloutier</p>

</body>
</html>