<!--This is the User Page, which appears as a view on index.html-->
<hr>
<div class="col-md-6">
    <h2>Submit an Event</h2>

    <form class="eventForm" action="/eventsubmit" method="post">
        Event Title:
        <input type="text" name="title"><br>
        Host Name:
        <input type="text" name="host"><br>
        Date:
        <input type="date" name="date"><br>
        Address:
        <input type="text" name="address"><br>
        City:
        <input type="text" name="city"><br>
        State:
        <select name="state">
            <option>Select a State</option>
            <option value="MN">MN</option>
            <option value="AL">AL</option>
            <option value="AK">AK</option>
            <option value="AZ">AZ</option>
        </select><br>
        ZIP:
        <input type="text" name="zip"><br>
        Description:<br>
        <textarea name="description" cols="50" rows="5"></textarea><br>
        <input type="submit" value="Submit" class="btn btn-success">
    </form>

</div>

<div class="col-md-6">
    <h2>Search for Events</h2>

    <div class="selectorDiv">
        <select name="states">
            <option>Select a State</option>
            <option value="AL">AL</option>
            <option value="AK">AK</option>
            <option value="AZ">AZ</option>
        </select>
        <button class="btn btn-success">Search</button>
    </div>


    <div class="tableMain">
        <div class="tableColumn">
            <div class="tableHeading">Event Title</div>
            <div class="tableRow">Column 1, Row 1</div>
            <div class="tableRow">Column 1, Row 2</div>
            <div class="tableRow">Column 1, Row 3</div>
            <div class="tableRow">Column 1, Row 4</div>
            <div class="tableRow">Column 1, Row 5</div>
            <div class="tableRow">Column 1, Row 6</div>
            <div class="tableRow">Column 1, Row 7</div>
            <div class="tableRow">Column 1, Row 8</div>
            <div class="tableRow">Column 1, Row 9</div>
            <div class="tableRow">Column 1, Row 10</div>
        </div>

        <div class="tableColumn">
            <div class="tableHeading">Host</div>
        </div>

        <div class="tableColumn">
            <div class="tableHeading">Date</div>
        </div>

        <div class="tableColumn">
            <div class="tableHeading">Location</div>
        </div>

        <div class="tableColumn">
            <div class="tableHeading">Description</div>
        </div>

    </div>
</div>

<p class="copyright">Copyright © 2016 -- Jeremy Cloutier</p>