<!--This is the User Page, which appears as a view on index.html-->
<!--<h2 class="welcomeUser">Welcome, User</h2>-->
<hr>
<div class="col-md-6">
    <h2>Submit an Event</h2>

    <form class="eventForm" action="/eventsubmit" method="post">
        Event Title:
        <input type="text" name="title"><br>
        Host Name:
        <input type="text" name="host"><br>
        Date:
        <input type="date" name="date"><br>
        Address:
        <input type="text" name="address"><br>
        City:
        <input type="text" name="city"><br>
        State:
        <select name="state" ng-model="selectState">
            <option ng-repeat="state in states" value="{{state}}">{{state}}</option>
        </select><br>
        ZIP:
        <input type="text" name="zip"><br>
        Description:<br>
        <textarea name="description" cols="50" rows="5"></textarea><br>
        <input type="submit" value="Submit" class="btn btn-success">
    </form>

</div>

<div class="col-md-6">
    <h2>Search for Events</h2>

    <div class="selectorDiv">
        <select name="states">
            <option>Select a State</option>
            <option value="AL">AL</option>
            <option value="AK">AK</option>
            <option value="AZ">AZ</option>
        </select>
        <button class="btn btn-success">Search</button>
    </div>


    <div class="tableMain">
        <div class="tableColumn">
            <div class="tableHeading">Event Title</div>
            <div class="tableRow" ng-repeat="event in events">{{event.title}}</div>
        </div>

        <div class="tableColumn">
            <div class="tableHeading">Host</div>
            <div class="tableRow" ng-repeat="event in events">{{event.host}}</div>

        </div>

        <div class="tableColumn">
            <div class="tableHeading">Date</div>
            <div class="tableRow" ng-repeat="event in events">{{event.date}}</div>
        </div>

        <div class="tableColumn">
            <div class="tableHeading">Location</div>
            <div class="tableRow" ng-repeat="event in events">{{event.street_address}}<br>{{event.city}}, {{event.zip}}</div>
        </div>

        <div class="tableColumn">
            <div class="tableHeading">Description</div>
            <div class="tableRow" ng-repeat="event in events">{{event.description}}</div>
        </div>
    </div>
</div>

<p class="copyright">Copyright © 2016 -- Jeremy Cloutier</p>